.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'DKSheepman';
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: 'DK Sheepman';
  src: url('./fonts/DKSheepman.woff2') format('woff2'),
  ;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'DK Sheepman';
  font-weight: normal;
  font-style: normal;
  font-size: larger;
  background-color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.photo {
  display: flex;
  max-width: 100%;
  height: auto
}

@media screen and (max-width: 600px) {
  .photo {
    max-width: 100%;
    height: auto;
  }
}